body {
  margin: 0;
  font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  position: relative;
}

.header {
  padding: 20px;
  background: chocolate;
  font-weight: 900;
  font-size: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 750px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.pendingComponent {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  background: grey;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.errorsContainer {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  background: grey;
}

.errorsComponent {
  position: absolute;
  z-index: 2;
  width: 300px;
  height: auto;
  padding: 20px;
  background: white;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.errorsText {
  margin-bottom: 20px;
  font-size: 40px;
}

.errorsCloseButton {
  margin-left: auto;
  margin-bottom: 10px;
  font-size: 24px;
  color: red;
  cursor: pointer;
}
